* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #fff;
  font-size: 62.5%;
  font-family: roboto,helvetica,arial,sans-serif;
}

.timer{
  font-weight: 400;
  font-size: 7rem;
}

/* From cssbuttons.io by @Gumpack */
/* From cssbuttons.io by @Custyyyy */
.btn {
  padding: 1rem 2rem 1rem 2rem;
 /* padding-left: 33px;
 padding-right: 33px;
 padding-bottom: 16px;
 padding-top: 16px; */
 border-radius: 8px;
 margin: 1rem 1rem;
 background: rgb(251, 193, 5);
 border: none;
 font-family: inherit;
 cursor: pointer;
 transition: 0.4s;
}

.btn:hover {
 box-shadow: 7px 5px 56px -14px #C3D900;
}

.btn:active {
 transform: scale(0.97);
 box-shadow: 7px 5px 56px -10px #C3D900;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
  margin: 4rem 3rem;
}